---
<!-- layout: archive -->
layout: default
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glide.js Carousel</title>
  <!-- Glide.js CSS (CDN) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.theme.min.css">
  <!-- Custom CSS
  <link rel="stylesheet" href="{{ site.baseurl }}/_sass/_page.css">-->
</head>

<body oncontextmenu="return false;", ondragstart="return false;" onselectstart="return false;">
<!-- auto align class -->
<div id="main" role="main">
  <h1 id="page-title"></h1> <!-- back to the top -->

  {{ content }}

  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].other_works | default: "Other Works" }}</h3>
  <!-- 디버그
  posts size: {{ site.posts | size }}
  collections.posts.docs size: {{ site.collections.posts.docs | size }}
  source: {{ site.source }}
  -->

{% assign posts = site.posts %}

{% comment %} 1. 빈 배열을 하나 만듭니다 {% endcomment %}
{% assign filtered_posts = "" | split: "" %}

{% comment %} 2. 루프를 돌며 조건을 체크합니다 {% endcomment %}
{% for post in posts %}
  {% if post.url != current_post_url %}
    {% comment %} 'None' 태그가 포함되지 않은 경우에만 배열에 추가 {% endcomment %}
    {% unless post.tags contains 'None' %}
      {% assign filtered_posts = filtered_posts | push: post %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% comment %} 3. 필터링된 결과에서 4개를 무작위로 뽑습니다 {% endcomment %}
{% assign shuffled_posts = filtered_posts | sample: 4 %}

{% comment %} 4. 현재 포스트 URL을 설정 {% endcomment %}
{% assign current_post_url = page.url %}

  {% assign entries_layout = page.entries_layout | default: 'grid' %}
  <div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=shuffled_posts type=entries_layout %}
  </div>

  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</div>

  <!-- Glide.js JS (CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/glide.min.js"></script>
  <!-- Custom JS -->
  <script src="{{ site.baseurl }}/assets/js/carousel.js"></script>
  <script src="/assets/js/image_alignment.js"></script>

</body>