---
<!-- layout: archive -->
layout: default
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glide.js Carousel</title>
  <!-- Glide.js CSS (CDN) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.theme.min.css">
  <!-- Custom CSS
  <link rel="stylesheet" href="{{ site.baseurl }}/_sass/_page.css">-->
</head>

<body oncontextmenu="return false;">
<!-- auto align class -->
<div id="main" role="main">
  <h1 id="page-title"></h1> <!-- back to the top -->

  {{ content }}

  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].other_works | default: "Other Works" }}</h3>

  {% assign posts = site.categories.Works %}
  {% assign shuffled_posts = posts | sample: 4 %}

  {% assign entries_layout = page.entries_layout | default: 'grid' %}
  <div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=shuffled_posts type=entries_layout %}
  </div>

  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</div>

  <!-- Glide.js JS (CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/glide.min.js"></script>
  <!-- Custom JS -->
  <script src="{{ site.baseurl }}/assets/js/carousel.js"></script>
  <script src="/assets/js/image_alignment.js"></script>

</body>